<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>rbxarchive.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
  <div id="vue-entry">
      <h1 id="header">ROBLOX Wall Archive</h1>
      <user-search></user-search>
      <body-search></body-search>
    <div v-for="post in posts" class="post">
      <b style="color: #00aef4">{{ post.poster.user.username }}</b><br><br>
      {{ post.body }}<br><br>
      <span class="date">{{ new Date(post.created).toLocaleString() }}</span>
    </div>
    <h3 v-if="posts.length == 0">No results</h3>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="main.js"></script>
</body>
</html>