<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ROBLOX Wall Archive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
  <div id="vue-entry">
      <h1 id="header">
        <a href="/">ROBLOX Wall Archive</a>
      </h1>
      <user-search></user-search>
      <body-search></body-search>
      <h3 v-if="numResults > 0">showing 50 results of {{ numResults }}</h3>
      <h3 v-if="posts.length == 0">No results</h3>
    <div v-for="post in posts" class="post">
      <a target="_blank" :href="`https://www.roblox.com/users/${post.poster.user.userId}/profile`">
        <img class="avatar" :src="`https://www.roblox.com/headshot-thumbnail/image?userId=${post.poster.user.userId}&width=420&height=420&format=png`">
      </a>
      <p class="postContainer">
        <a target="_blank" :href="`https://www.roblox.com/users/${post.poster.user.userId}/profile`">{{ post.poster.user.username }}</a>
        <br><br>
        <span v-html="post.body"></span>
        <br><br>
        <span class="date">{{ new Date(post.created).toLocaleString() }}</span>
      </p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="linkify.min.js"></script>
  <script src="linkify-string.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" async defer />
</body>
</html>