html {
  font-family: Arial, Helvetica, sans-serif;
}

html input:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  color: #00aef4;
  font-weight: bold;
}

h3, input, .post {
  display: block;
  margin: 10px auto;
  width: 500px;
  padding: 10px;
  border: 2px solid #eeeeee;
}

h3 {
  text-align: center;
  color: gray;
  border: none;
}

input {
  border-radius: 20px;
  border-color: #7ecae9;
}

#header {
  text-align: center;
}

.post {
  border-radius: 10px;
}

.date {
  font-size: 0.7em;
}

.avatar {
  width: 75px;
  height: 75px;
  margin: 5px 20px 5px 5px;
  float: left;
  border: 1px solid #dddddd;
  border-radius: 100%;
}

.postContainer {
  display: table;
}